.booking-form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.booking-form-wrapper .wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.booking-form-wrapper .wrapper .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.booking-form-wrapper .wrapper .item .flex-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.booking-form-wrapper .wrapper .item label {
    font-weight: 500;
    color: var(--orange-color);
}

.booking-form-wrapper .wrapper .item.full {
    flex: 1 0;
}

.booking-form-wrapper .wrapper .item input,
.booking-form-wrapper .wrapper .item textarea,
.booking-form-wrapper .wrapper .item select {
    color: var(--orange-color);
    border-radius: 999px;
    border: 2px solid var(--orange-color);
    background-color: transparent;
    padding: .5rem 1rem;
}

.booking-form-wrapper .wrapper .submit-btn {
    color: var(--white-color);
    border-radius: 999px;
    border: 2px solid var(--orange-color);
    background-color: var(--orange-color);
    width: fit-content;
}